# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea
.cursor
.opencode
.agents
opencode.json

# cli
dist

# remotion build output
packages/nextjs/remotion/out/

# env files
.env
.env.local
